In [9]:
import pandas as pd
df = pd.read_csv('pokemon.csv')

## Conditional Change

In [3]:
# get row from condition, select col (Type 1) and assign value
df.loc[df['Type 1'] == 'Fire', 'Type 1'] = 'Flamer (fire)'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Flamer (fire),NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Flamer (fire),Water,80,110,120,130,90,70,6,True

In [5]:
df.loc[df['Type 1'] == 'Flamer (fire)', 'Type 1'] = 'Fire'
df

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,1,False
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,1,False
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False
...,...,...,...,...,...,...,...,...,...,...,...,...
795,719,Diancie,Rock,Fairy,50,100,150,100,150,50,6,True
796,719,DiancieMega Diancie,Rock,Fairy,50,160,110,160,110,110,6,True
797,720,HoopaHoopa Confined,Psychic,Ghost,80,110,60,150,130,70,6,True
798,720,HoopaHoopa Unbound,Psychic,Dark,80,160,60,170,130,80,6,True
799,721,Volcanion,Fire,Water,80,110,120,130,90,70,6,True

In [15]:
# set fire type poke to legendary 
df.loc[df['Type 1'] == 'Fire', 'Legendary'] = True
df.loc[df['Type 1'] == 'Fire'].head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,True
5,5,Charmeleon,Fire,NaN,58,64,58,80,65,80,1,True
6,6,Charizard,Fire,Flying,78,84,78,109,85,100,1,True
7,6,CharizardMega Charizard X,Fire,Dragon,78,130,111,130,85,100,1,True
8,6,CharizardMega Charizard Y,Fire,Flying,78,104,78,159,115,100,1,True

In [21]:
df = pd.read_csv('pokemon.csv')

In [25]:
df.loc[df['Speed'] >= 80, ['Generation', 'Legendary']] = ['Test 1', 'Test 2']
df.head()

,#,Name,Type 1,Type 2,HP,Attack,Defense,Sp. Atk,Sp. Def,Speed,Generation,Legendary
0,1,Bulbasaur,Grass,Poison,45,49,49,65,65,45,1,False
1,2,Ivysaur,Grass,Poison,60,62,63,80,80,60,1,False
2,3,Venusaur,Grass,Poison,80,82,83,100,100,80,Test 1,Test 2
3,3,VenusaurMega Venusaur,Grass,Poison,80,100,123,122,120,80,Test 1,Test 2
4,4,Charmander,Fire,NaN,39,52,43,60,50,65,1,False